@font-face {
    font-family: Outfit;
    src: url(/assets/fonts/Outfit/static/Outfit-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Young-serif;
    src: url(/assets/fonts/Young_Serif/YoungSerif-Regular.ttf);
    font-weight: 500;
}

html, body {
    height: 100%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-family: Outfit;
    color: red;
}

#bg-video {
    z-index: -1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 10px 15px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    font-family: Young-serif;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.yes-btn {
    background: green;
    margin-right: 1px;
    color: white;
}

.no-btn {
    background: red;
    color: white;
}

#video1, #image-display {
  width: 100%;
  height: 100%;
}

.video {
    width: 500px;
    object-fit: contain;
    height: 400px;
}

#yesbtn, #nobtn {
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease;
}



.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

